*{ margin: 0px;
padding: 0px;
outline: 0px;
box-sizing: border-box;}
/* custom fonts in css */
body{font-family: "Poppins", sans-serif;}

/* bannar area start here */
.banar-area{background-color: #264653;
height: 650px; padding-top: 30px;
padding-left: 50px;
padding-right: 50px;
}

.navbar-text{display: flex;
   justify-content: flex-end;
   list-style-type: none;
  gap: 50px; color: white;
font-size: 18px;}

.navbar-text:hover{cursor: pointer;}
.bannar-button:hover{cursor: pointer;
background-color: rgb(210, 92, 49);}

.bannar-button{color: white;
background-color: rgba(250, 104, 51, 0.904);
padding: 10px;
padding-left: 25px;
padding-right: 25px;
border-radius: 8px;
border-color:  rgba(250, 104, 51, 0.904);
font-size: 15px;}

.main-banar{display: flex;
color: white;}
.banar-image{padding-top: 65px;}
.banar-text{padding-top: 150px;}
#bannar-heading{font-size: 50px;
font-weight: 600;}
#para-1{padding-right: 50px;
padding-bottom: 10px;}
#para-2{padding-right: 50px;
padding-top: 10px;}

.bannar-button-2{color: white;
   background-color: rgba(250, 104, 51, 0.904);
   padding: 10px;
   padding-left: 50px;
   padding-right: 50px;
  margin-top: 15px;
   border-radius: 8px;
   border-color:  rgba(250, 104, 51, 0.904);
   font-size: 15px;}
.bannar-button-2:hover{cursor: pointer;
   background-color: rgb(210, 92, 49);}
/* bannar area end here */
/* fetured area start here */
.fetured-area{height: 550px;
padding-top: 60px;}

.fetured-text{text-align: center;}
.fetured-heading{font-size: 50px;
font-weight: 600;}
.f-heading-2{color: rgb(210, 92, 49);}
.ruler-1{height: 1px;
   width: 80px;
   background-color: rgb(234, 103, 55);
   color: rgb(235, 92, 40);
   outline: none;
   border: none;
   margin: 2px auto;}

.f-bike-1{height: 220px;
width: 220px;}

.f-bike-2{height: 220px;
   width: 220px;}

.f-bike-3{height: 220px;
   width: 220px;}

.fetured-bikes{display: flex;
flex-direction: row;
justify-content: center;
gap: 150px;
padding-top: 100px;}
/* featured area end here */










