*{ margin: 0px;
padding: 0px;
outline: 0px;
box-sizing: border-box;}
/* custom fonts in css */
body{font-family: "Poppins", sans-serif;}

/* bannar area start here */
.banar-area{background-color: #264653;
height: 650px; padding-top: 30px;
padding-left: 50px;
padding-right: 50px;
}

.navbar-text{display: flex;
   justify-content: flex-end;
   list-style-type: none;
  gap: 50px; color: white;
font-size: 18px;}

.navbar-text:hover{cursor: pointer;}
.bannar-button:hover{cursor: pointer;
background-color: rgb(210, 92, 49);}

.bannar-button{color: white;
background-color: rgba(250, 104, 51, 0.904);
padding: 10px;
padding-left: 25px;
padding-right: 25px;
border-radius: 8px;
border-color:  rgba(250, 104, 51, 0.904);
font-size: 15px;}

.main-banar{display: flex;
color: white;}
.banar-image{padding-top: 65px;}
.banar-text{padding-top: 150px;}
#bannar-heading{font-size: 50px;
font-weight: 600;}
#para-1{padding-right: 50px;
padding-bottom: 10px;}
#para-2{padding-right: 50px;
padding-top: 10px;}

.bannar-button-2{color: white;
   background-color: rgba(250, 104, 51, 0.904);
   padding: 10px;
   padding-left: 50px;
   padding-right: 50px;
  margin-top: 15px;
   border-radius: 8px;
   border-color:  rgba(250, 104, 51, 0.904);
   font-size: 15px;}
.bannar-button-2:hover{cursor: pointer;
   background-color: rgb(210, 92, 49);}
/* bannar area end here */
/* fetured area start here */
.fetured-area{height: 550px;
padding-top: 60px;}

.fetured-text{text-align: center;}
.fetured-heading{font-size: 50px;
font-weight: 600;}
.f-heading-2{color: rgb(210, 92, 49);}
.ruler-1{height: 1px;
   width: 80px;
   background-color: rgb(234, 103, 55);
   color: rgb(235, 92, 40);
   outline: none;
   border: none;
   margin: 2px auto;}

.f-bike-1{height: 220px;
width: 220px;}

.f-bike-2{height: 220px;
   width: 220px;}

.f-bike-3{height: 220px;
   width: 220px;}

.fetured-bikes{display: flex;
flex-direction: row;
justify-content: center;
gap: 150px;
padding-top: 100px;}
/* featured area end here */
/* latest model area start here */
.latest-models{height: 800px;}

.latest-bike-1{height: 235px;
   width: 300px;}
.latest-bike-2{height: 235px;
   width: 300px;}
.latest-bike-3{height: 235px;
   width: 300px;}
.latest-heading{font-size: 50px;
   font-weight: 600; 
text-align: center;}

.bike-1-detials{ border: 1px solid black;
width: 350px; text-align: center;
height: 560px;
padding-top: 15px;}

.bike-2-detials{border: 1px solid black;
width: 350px; height: 560px;
text-align: center;
padding-top: 15px;}

.bike-3-detials{border: 1px solid black;
width: 350px; text-align: center;
height: 560px;
padding-top: 15px;}

.main-div{ margin-top: 50px;
display: flex; 
flex-direction: row;
justify-content: center;
gap: 22px;}

.box-heading{font-size: 28px;
font-weight: 600; margin-top: 8px;
text-align: left;margin-left: 15px;}

.box-paragraph{font-size: 16px;
font-weight: 400; color: gray;
text-align: left; margin-left: 15px; }

#box-heading-2{padding-right: 90px;}

.box-button{margin-top: 60px;
border: 1px solid orangered; 
padding: 15px 30px 15px 30px;
font-size: 20px;
color: orangered;
margin-right: 150px;
border-radius: 5px;}
#button-b{margin-top: 90px;}
#button-a{margin-top: 107px;}

.box-button:hover{cursor: pointer;
background-color: rgb(234, 103, 55);
color: white; border-radius: 5px;}
/* latest model area end here  */

/* clients review area start here */
.clients{height: 700px;}

.clients-area-header{font-size: 50px;
   font-weight: 600; 
text-align: center;
color:rgb(234, 103, 55) ;}

.client-review{border: 1px solid lightgrey;
   width: 300px; text-align: center;
   height: 510px; border-radius: 5px;
   padding-top: 15px;
padding-top: 50px;}

.client-image{height: 140px;
width: 140px;}
#img-set{border-radius: 100%;}

.clints-main-div{margin-top: 50px;
   display: flex; 
   flex-direction: row;
   justify-content: center;
   gap: 45px;}

.client-text{font-weight: 400;
color: gray;
padding: 10px 20px 10px 20px;}

.fa-solid{color: rgb(234, 103, 55);}
.fa-regular{color: rgb(234, 103, 55);}

.client-name{ color: rgb(73, 204, 247);
font-size: 14px; font-weight: 550; 
padding: 10px;}

.client-job{font-size: 15px;
font-weight: 600;
padding-top: 18px;}
/* clients review area end here  */
/* faq section start here */
.faq-area{height: 700px;}

.faq-heading{font-size: 50px;
   font-weight: 600; 
text-align: center;
color:black;
padding-bottom: 100px;}

.faq-img{height: 400px;
width: 400px; }

.question-answer{display: inline-flex;
flex-direction: column; box-sizing: border-box;
padding-top: 50px; 
gap: 15px; }

.faq-main-div{display: flex; 
justify-content: center;
gap: 80px;}

.faq-inputs{height: 70px;
width: 500px; border: 1px solid lightgray;
padding-left: 12px;
font-size: 20px; color: black;
font-weight: 500;}

#big-input{height: 100px;
   width: 500px; border: 1px solid lightgray;
   padding-left: 12px;
   font-size: 20px; color: black;
   font-weight: 500;}
/* faq section end here */

/* services section start hare */
.service-section{height: 1250px;}

.service-area-heading{font-size: 50px;
   font-weight: 600; 
text-align: center;
margin-bottom: 50px;
padding-bottom: 40px;
color: rgb(234, 103, 55);}

.service-img{height: 235px;
   width: 300px;}

.services{border: 1px solid lightgrey;
   border-radius: 5px;
   width: 350px; text-align: center;
   height: 490px;
   padding-top: 15px;}

.service-main-div{display: grid;
grid-template-columns: auto auto auto; 
gap: 35px; padding-left: 25px;
padding-right: 25px;}

.service-name{ font-size: 20px;
color: rgb(234, 103, 55) ;
margin-top: 15px;}

.service-para{padding-left: 35px;
padding-right: 35px; padding-top: 10px;}

/* services section end hare */














